*{
    margin:0;
    padding:0;
}
table {
    padding: 10px;
    background-color: white;
    margin-top: 100px;
    font-size: 20px;
    line-height: 30px;
    font-family: cursive, Times New Roman;
    border-radius: 5px;
}

body {
    background-color: crimson;
}

button {
    background-color: rgb(245, 13, 13);
    border-radius: 10px;
    width: 20%;
    height: 45px;
    margin-left: 170px;
    color: white;
    font-family: cursive, Times New Roman;
    font-size: 20px;
    font-weight: bold;
    border-color: rgb(245, 13, 13);
}
.head{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color:white;
}
